[buildout]
extensions = mr.developer
auto-checkout =
    ploy
    ploy_ansible
    ploy_ec2
    ploy_ezjail
    ploy_fabric
    ploy_virtualbox
parts =
    bsdploy
show-picked-versions = true
versions = versions

develop =
    .
    src/*

[bsdploy]
recipe = zc.recipe.egg
eggs =
    bsdploy [development]
    keyrings.alt
dependent-scripts = true

[sources]
ploy = git https://github.com/ployground/ploy
ploy_fabric = git https://github.com/ployground/ploy_fabric
ploy_ansible = git https://github.com/ployground/ploy_ansible
ploy_ezjail = git https://github.com/ployground/ploy_ezjail
ploy_ec2 = git https://github.com/ployground/ploy_ec2
ploy_virtualbox = git https://github.com/ployground/ploy_virtualbox


[versions]
Sphinx=<2
mock=<4
ansible=<2.9
cryptography=<3.4
paramiko=<2.0
pytest=<5
keyring=<19
ruamel.yaml=<0.17
ruamel.yaml.clib=<0.2.3
