include README.rst
include CHANGES.rst
include setup.py
include tox.ini
include bsdploy/*.sh
include bsdploy/tests/*.py
include bsdploy/tests/*.txz
recursive-include bsdploy/bootstrap-files *
recursive-include bsdploy/library *
recursive-include bsdploy/roles *
